@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

#result-container {
  display: none;
}

#activity-container {
  padding: 20px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: #fff;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#activity-container.fade-out {
  opacity: 0;
}
